@import url("../fonts/Butterline/style.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-decoration: none;
  outline: none;
  transition-duration: 500ms;
}

a {
  color: inherit;
}

.logo {
  font-family: "Butterline Regular";
  text-align: center;
  font-size: 100px;
  padding: 30px 0;
}

nav .brand .logo {
  font-size: 80px;
}
nav .options {
  width: 100%;
  padding: 20px 5vw;
}
nav .options .container {
  display: flex;
  padding: 0 20px;
  min-width: 100%;
  overflow: scroll;
}
nav .options .container::-webkit-scrollbar {
  display: none;
}
nav .options .container .option {
  min-width: 200px;
  min-height: 200px;
  margin: 0 20px;
  background-color: #f8f9fa;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
nav .options .container .option:hover {
  background-color: #e0e0e0;
}
nav .options .container .option.active {
  background-color: #343341;
  color: #f8f9fa;
}
nav .options .container .option.active:hover {
  background-color: #302f3b;
}
nav .options .container .option:first-of-type {
  margin-left: auto;
}
nav .options .container .option:last-of-type {
  margin-left: auto;
}

main {
  padding: 20px 5vw;
}

.username {
  text-align: center;
  font-size: 24px;
}

main section {
  display: none;
}
main section.active {
  display: block;
}
main section .empty {
  text-align: center;
  padding: 200px 20px;
  font-weight: 600;
  font-size: 24px;
}
main section .empty a {
  color: #343341;
  font-weight: 500;
  padding: 20px 0;
}
main section .empty a:hover {
  text-decoration: underline;
}
main section .empty svg path {
  fill: #343341;
}

.note {
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
}
.note:nth-of-type(even) {
  background-color: #343341;
  color: #f8f9fa;
}
.note:nth-of-type(even).modal-link {
  text-align: center;
}
.note:nth-of-type(even).modal-link svg path {
  fill: #f8f9fa;
}
.note:nth-of-type(odd) {
  background-color: #dbdbdb;
}
.note:nth-of-type(odd).modal-link {
  text-align: center;
}
.note:nth-of-type(odd).modal-link svg path {
  fill: #343341;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #343341;
  z-index: 40;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.modal button.close {
  margin-left: auto;
  background-color: #343341;
  border: none;
  padding: 20px;
  margin-right: 5px;
  clip-path: circle();
}
.modal button.close:hover {
  background-color: #302f3b;
}
.modal button.close svg path {
  fill: #f8f9fa;
}
.modal form {
  background-color: #f8f9fa;
  margin: auto;
  max-height: calc(100vh - 40px);
  width: 640px;
  padding: 20px;
  border-radius: 10px;
}
.modal form input {
  width: 100%;
  background-color: #f8f9fa;
  border: 2px solid #343341;
  font-size: 1.25rem;
  margin: 10px 0;
  padding: 10px;
  display: block;
  border-radius: 4px;
}
.modal form input:focus {
  box-shadow: 0 0 0 0.125em #343341;
}
.modal form input.error {
  border: 2px solid #933a3a;
}
.modal form input.error:focus {
  box-shadow: 0 0 0 0.125em #933a3a;
}
.modal form select {
  width: 100%;
  background-color: #f8f9fa;
  border: 2px solid #343341;
  font-size: 1.25rem;
  margin: 10px 0;
  padding: 10px;
  padding-right: 20px;
  display: block;
  border-radius: 4px;
}
.modal form select:focus {
  box-shadow: 0 0 0 0.125em #343341;
}
.modal form select.error {
  border: 2px solid #933a3a;
}
.modal form select.error:focus {
  box-shadow: 0 0 0 0.125em #933a3a;
}
.modal form p.error {
  color: #933a3a;
  padding: 5px 0;
}
.modal form button {
  width: 100%;
  padding: 10px;
  border: 2px #343341 solid;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 16px;
  background-color: #343341;
  color: #f8f9fa;
  font-size: 1.25rem;
}

/*# sourceMappingURL=home.css.map */
